<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>

<body>
  <form>
    <h1>Welocome to our Homestay</h1>
    <h2>What action do u want to do ?</h2>

    <button><a href="/room" target="_self">Booking a room</a></button>

    <button><a href="/cancel" target="_self">Cancel Order</a></button>

    <button><a href="/account" target="_self">Edit Account</a></button>

    <button><a href="/admin" target="_self">Admin</a></button>

    <button><a href="/query" target="_self">Query</a></button>
  </form>


</body>

</html>
